.container {
    position: fixed;
    inset: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 999;
}

.message-box{
    position: relative;
    box-sizing: border-box;
    
    max-width: 500px;
    min-width: 400px;
    
    max-height: 80vh;
    min-height: 500px;
    
    padding: 2rem;

    overflow-y: auto;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    
    background-color: #faf2dc;
}

h2 {
    text-align: center;
}

.close-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    
    width: 1.5rem;
    height: 1.5rem;
    
    border-radius: 50%;
    border: 1px solid #333;
}

@media (max-width: 500px) {
    .message-box {
        width: 100%;
        min-height: 100vh;
        
        border-radius: 0;
    }
}

.message-box::-webkit-scrollbar {
    width: 6px;
}

.message-box::-webkit-scrollbar-track {
    background: transparent;
    margin: 0.6rem 0;
}

.message-box::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

.message-box::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}