@page "/"
@using ArithmeticParser.Client.Components

<PageTitle>Home</PageTitle>

<Help
    Visible="_isHelpVisible"
    VisibleChanged="@((bool value) => _isHelpVisible = value)"
/>

<div class="container">
    <div class="toolbar">
        <Calculator OnParsed="@((Expression node) => _node = node)"/>
        <button class="help-button" @onclick="@(() => _isHelpVisible = true)">?</button>
    </div>
</div>

<Tree Node="_node" />

@code {
    private bool _isHelpVisible = true;
    private Expression? _node;
}