@page "/"
@using ArithmeticParser.Client.Components

<PageTitle>Home</PageTitle>

<Tree Node="_node" />

<div style="display: flex; justify-content: center; padding:  1rem;">
    <Calculator OnParsed="Test" />
</div>

@code {
    private Expression? _node;
    
    private void Test(Expression node)
    {
        _node = node;
    }
}